<div class="sv-select-container" [ngClass]="{open: open}">
  <!-- Displays the selected value -->
  <div 
    class="sv-select-display"
    [ngClass]="{open: open}"
    (click) = "open = !open"
  >

    <!-- Static display of selected value -->
    <input 
      *ngIf="!(open && search)"
      class="sv-selected static"
      type="text" 
      readonly
      onfocus="this.blur()"
      [value]="selected || placeholder"
    />

    <!-- Search if enabled -->
    <input
      #search
      *ngIf="open && search"
      class="sv-selected search"
      type="text" 
      [(ngModel)]="searchKey"
      (ngModelChange)="filterOptions()"
      (click)="$event.stopPropagation()"
      [placeholder]="selected || placeholder"
    />
  </div>

  <!-- Chevron -->
  <span 
    class="sv-select-chevron"
    [ngClass]="{rotated: open}"
    (click)="open = !open"
  >
    <i class="fas fa-chevron-down"></i>
  </span>

  <!-- List of options -->
  <ul *ngIf="open" class="sv-select-options" @showOptions>
    <li *ngFor="let option of filteredOptions" (click)="makeSelection(option)">{{option}}</li>
    <li class="sv-select-no-results" *ngIf="filteredOptions.length == 0">No Results</li>
  </ul>
</div>