@import '../base';
@import './select-theme';

.sv-select {
  width: 100%;
  display: inline-block;

  .sv-select-container {
    width: 100%;
    position: relative;
  }

  .sv-select-chevron {
    @include text-field-base;
    position: absolute;
    top: 13px;
    right: 15px;
    transition: all 0.2s ease-out;
    cursor: pointer;

    &.rotated {
      color: black;
      transform: rotate(180deg);
    }
  }

  .sv-select-display {
    @include text-field-base;
    padding-right: 30px;
    overflow: hidden;
    border-radius: $border-radius-base;
    border: 1px solid $medium-gray;
    transition: all 0.2s ease-out;
    cursor: pointer;

    &:hover {
      border-color: $dark-gray;
    }

    &.open {
      color: black;
      border-color: black;

      &:hover {
        border-color: black;
      }
    } 
  }

  .sv-selected {
    @include text-field-base;
    width: 100%;
    height: 38px;
    padding: 0;
    padding-left: 15px;
    border: none;

    &.static {
      cursor: pointer;
    }

    &.search {
      color: black;
    }
  }

  .sv-select-options {
    @include reset-list;
    @include card-shadow;
    width: 100%;
    max-height: 200px;
    position: absolute;
    top: 50px;
    overflow: hidden;
    z-index: 10000;
    background: white;
    border-radius: $border-radius-base;
    border: 1px solid black;
    overflow-y: scroll;
    transform-origin: 0 0;

    li {
      height: 40px;
      padding: 0px 10px;
      color: #000;
      border-top: 1px solid $light-gray;
      font-family: $font-family-ui;
      font-size: 12px;
      font-weight: 500;
      line-height: 40px;

      &:first-child {
        border: none;
      }

      &:hover {
        background: $light-gray;
        cursor: pointer;
      }
    }

    .sv-select-no-results {
      color: $dark-gray;
      text-align: center;

      &:hover {
        background: transparent;
        cursor: default;
      }
    }
  }
}