@import '../base';
@import './switch-theme';

.sv-switch {
  width: 40px;
  height: 20px;
  padding: 2px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.2s linear;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  
  // OFF State
  background-color: $light-gray;
  border-radius: 10px;
  
  .sv-switch-state-indicator {
    width: 16px;
    height: 16px;
    display: block;
    background-color: #FFF;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    .sv-switch-state-indicator {
      transform: translateX(2px);
    }
  }
  
  // ON State
  &.on {
    background-color: $primary-color;

    .sv-switch-state-indicator {
      transform: translateX(20px);
      box-shadow: 0 0 5px rgba(#000, 0.5);
    }

    &:hover {
      .sv-switch-state-indicator {
        transform: translateX(18px);
      }
    }
  }
}

.sv-switch-label {
  font-family: $font-family-ui;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  top: -5px;
  left: 5px;
  display: inline-block;
}