@import "../base";
@import './switch-theme';

.sv-switch {
  height: 20px;

  .sv-switch-control {
    width: 40px;
    height: 20px;
    padding: 2px;
    display: inline-block;

    // OFF State
    background-color: $medium-gray;
    border-radius: 10px;
    transition: background-color 0.2s linear;
    cursor: pointer;

    &:hover {
      .sv-switch-state-indicator {
        transform: translateX(2px);
      }
    }

    .sv-switch-state-indicator {
      width: 16px;
      height: 16px;
      display: block;
      background-color: #FFF;
      border-radius: 50%;
      transition: 0.2s ease-in-out;
    }

    // ON State
    &.on {
      .sv-switch-state-indicator {
        box-shadow: 0 0 5px rgba(#000, 0.5);
        transform: translateX(20px);
      }

      &:hover {
        .sv-switch-state-indicator {
          transform: translate(18px);
        }
      }
    }
  }
}

.sv-switch-label {
  display: inline-block;
  position: relative;
  top: -4.5px;
  left: 5px;
  font-family: $font-family-ui;
  font-size: 12px;
  font-weight: 500;
}

.sv-switch.disabled {
  opacity: 0.5;

  .sv-switch-control {
    cursor: default;
  }

  &:hover {
    .sv-switch-state-indicator {
      transform: none;
    }
  }
}