@each $color, $value in $color-palette {
  .sv-checkbox.#{$color} .sv-checkbox-display {
    path {
      stroke: white;
    }

    &.active {
      background: $value;
      border-color: $value;
      
      path {
        stroke: $value;
      }
    }
  }
}