@import '../base';
@import './checkbox-theme.scss';

.sv-checkbox {
  display: inline-block;
  cursor: pointer;

  user-select: none;

  .sv-checkbox-container {
    height: 20px;

    .sv-checkbox-display {
      width: 20px;
      height: 20px;
      display: inline-block;
      position: relative;
      border-radius: $border-radius-base;
      border: 2px solid $dark-gray;
      
      text-align: center;

      transition: all 0.2s ease-out;

      .fa-check {
        position: relative;
        top: -1.5px;
        color: white;
        opacity: 0;
        font-size: 14px;
        transform: scale(0.5);
        transition: all 0.2s ease-out;

        path {
          transition: stroke 0.2s ease-out;
          stroke-width: 40;
        }
      }

      &.active {
        .fa-check {
          opacity: 1;
          transform: scale(1.0);
        }
      }
    }
  }

  .sv-checkbox-label {
    margin-left: 5px;
    display: inline-block;
    position: relative;
    top: -2px;
    font-family: $font-family-ui;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
  }

  input[type=checkbox] {
    display: none;
  }
}