@import './variables';
// @import './reboot';

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.sv-label {
  margin-bottom: 5px;
  display: block;
  font-family: $font-family-ui;
  color: $dark-gray;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
}