@each $color, $value in $color-palette {
  .sv-button.#{$color} button {
    background-color: $value;
    border-color: $value;

    &:hover {
      background-color: rgba($value, 0.8);
    }

    &.alternate-state,
    &.alternate-state:hover,
    &.alternate-state:disabled {
      color: $value;
      background-color: rgba($value, 0.25);
    }
  }

  .sv-button.hollow.#{$color} button {
    color: $value;

    &:hover {
      color: #FFF;
    }

    &.alternate-state,
    &.alternate-state:hover,
    &.alternate-state:disabled {
      color: $value;
    }
  }
}