<button
  class="sv-button ripple"
  [ngClass]="{'alternate-state': alternateState || loading}"
  [disabled]="disabled"
  (click)="handleClick($event)"
>

  <!-- Main Button Text -->
  <span [ngClass]="{'hidden-loading': loading, 'hidden-state': alternateState}" class="sv-button-content">
    <ng-content></ng-content>
  </span>

  <!-- Spinner when in loading state -->
  <span *ngIf="loading" class="sv-button-spinner" @loadingState>
    <sv-spinner></sv-spinner>
  </span>

  <!-- State text when in alternate state -->
  <span *ngIf="alternateState" class="sv-button-state" @alternateState>
    <ng-content select="[alternate-state]"></ng-content>
  </span>
</button>