@import "../base";
@import "./button-theme";

// Base styles
.sv-button button {
  min-width: 160px;
  padding: 0 20px;
  display: inline-block;
  position: relative;
  color: #FFF;
  background-color: $primary-color;
  border-radius: $border-radius-base;
  border-style: solid;
  border-width: 1px;
  font-family: $font-family-ui;
  font-size: 11px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: background-color 0.2s ease-out;
  cursor: pointer;

  // Hover
  &:hover {
  }

  &:focus,
  &:active {
    outline: none;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  // Alternate State styles
  &.alternate-state,
  &.alternate-state:hover,
  &.alternate-state:disabled {
    opacity: 1.0;
    cursor: default;
  }

  // Main content
  .sv-button-content {
    display: inline-block;
    transition: transform .2s ease-out, opacity .2s ease-out;

    &.hidden-state {
      opacity: 0;
      transform: translateX(-10px);
    }

    &.hidden-loading {
      opacity: 0;
      transform: scale(0.5);
    }
  }

  // State content
  .state-container {
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
  }

  // Loading Content
  .sv-button-spinner {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 9.5px;
    left: 0;
  }
}

// Small variation styles
.sv-button.small button {
  min-width: 100px;
  padding: 0 10px;
  font-size: 9px;
  line-height: 24px;

  .sv-button-spinner {
    top: 2px;
  }
}

// Large variation styles
.sv-button.large button {
  font-size: 13px;
  line-height: 48px;

  .sv-button-spinner {
    top: 14px;
  }
}

// Long variation styles
.sv-button.long button {
  width: 100%;
  display: block;
}

// Hollow variation styles
.sv-button.hollow button {
  background-color: transparent;
}