@import '../base';

$primary-button-color: $primary-color;

// Base button styles
.sv-button,
.sv-button-hollow {
  min-width: 160px;
  height: $ui-input-size;
  padding: 0px 20px;
  position: relative;
  font-family: $font-family-ui;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid $primary-button-color;
  border-radius: $border-radius-base;
  cursor: pointer;
  overflow: hidden;

  transition: all 0.2s ease-in-out;

  .sv-button-content,
  .sv-button-state {
    line-height: $ui-input-size;
    display: inline-block;
    transition: all 0.2s ease-in-out;
  }

  .sv-button-content.hidden-loading {
    transform: scale(0.75);
    opacity: 0;
  }

  .sv-button-content.hidden-state {
    transform: translateX(-10px);
    opacity: 0;
  }

  &:focus,
  &:active {
    outline: none;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.alternate-state,
  &.alternate-state:hover,
  &.alternate-state:disabled {
    opacity: 1.0;
    background-color: rgba($primary-button-color, 0.25);
    cursor: default;
  }

  .sv-button-spinner {
    display: block;
    width: 100%;
    margin-top: 4px;
    position: absolute;
    top: 8px;
    left: 0px;
  }

  .sv-button-state {
    width: 100%;
    position: absolute;
    left: 0;
    color: $primary-button-color;
  }
}

// Regular button styles
.sv-button {
  background-color: $primary-button-color;
  color: #FFF;

  // TODO : only include hover effects on desktops
  &:hover {
    background-color: rgba($primary-button-color, 0.8);
  }
}